secrets:
  aws:
    - name: js_mgmt
      aws_access_key_id: "frank"
      aws_secret_access_key: "geoff"

user:
  ssh_username: "joe.bloggs"
  initials: "jb"
  full_name: "Joe Bloggs"
  email: "joe.bloggs@example.com"

options:
  docker: false
  docker_compose: false
  docker_ipv6: false

vagrant_user: vagrant
